@import "variables";

@media only screen and (min-width: 320px) {
  .about__wrapper {
    background: $otherFont;
    height: 100%;
    position: relative;
    &__inner {
      width: 85%;
      margin: 0 auto;
      padding: 2.5rem 0;
      h2 {
        font-size: 1.75rem;
        font-weight: 400;
        color: $demoBackground;
      }
      &__section {
        padding: 0.75rem 0 0 0;
        color: $demoBackground;
        h4 {
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: -0.1px;
          line-height: 1.4rem;
        }
        h3 {
          font-size: 1rem;
          padding-bottom: 0.05rem;
          font-weight: 400;
        }
        p {
          font-size: 0.95rem;
          letter-spacing: -0.5px;
          line-height: 20px;
          color: #878897;
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) {
  .about__wrapper {
    &__inner {
      h2 {
        font-size: 2rem;
      }
      &__section {
        h3 {
          font-size: 1.1rem;
        }
        p {
          font-size: 1rem;
          line-height: 22.5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 414px) {
  .about__wrapper {
  }
}
@media only screen and (min-width: 768px) {
  .about__wrapper {
    &__inner {
      width: 70%;
      margin: 0 22% 0 8%;
      padding: 4.5rem 0;
      h2 {
        font-size: 2.5rem;
      }
      &__section {
        margin-bottom: 0.75rem;
        h4 {
          font-size: 1.5rem;
          line-height: 1.95rem;
        }
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.25rem;
          line-height: 1.75rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  .about__wrapper {
    height: 100vh;
    &__inner {
      width: 80%;
      margin: 0 1¡2% 0 8%;
      padding-top: 5rem;
      h2 {
        font-size: 2.15rem;
      }
      &__section {
        margin-bottom: 0.75rem;
        h4 {
          font-size: 1.25rem;
        }
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.15rem;
        }
      }
    }
  }
}
