//* Variables and Mixins

$pink: yellowgreen;
$mainFont: "Hind", sans-serif;
$background: #1e494c;
$otherBackground: #509bb1;
$alternativeBackground: #4783a3;
$niceGrey: #505050;
$lighterGrey: #bcbcbc;
$softOrange: #fdc68e;
$spotify: #1db954;
$linkedin: #0072b1;
$github: #3e2c00;

$notWhite: #f5f5f5;

$softFont: #acacb6;

//Selected Colour Palette

$demoColour: #ff7a8b;
$demoBackground: #063a5b;
$pFont: #e7e7e7;
$otherFont: #f9f9f9;

//copid colours
$copy: #fd8e8e;
$copd: #2e304b;
